<div id="<%= dom_id(issue) %>">
  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= link_to issue.project.title, project_path(issue.project) if issue.project %>
  </p>
</div>
