<h1>Projects</h1>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>


<div class="mb-3">
  <%= link_to 'Download Excel', projects_path(format: :xlsx), class: "btn btn-warning" %>
</div>

<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <p><%= project.description %></p>

  <% if project.issues.any? %>
    <table>
      <thead>
        <tr>
          <th>Issue Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% project.issues.each do |issue| %>
          <tr>
            <td><%= issue.title %></td>
            <td><%= issue.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><em>No issues</em></p>
  <% end %>

  <hr>
<% end %>
